<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Confirm Your Email</title>
</head>
<body style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto">
<h2 style="color: #333333; text-align: center">Confirm Your Email</h2>
<p style="color: #333333">
  Thank you for signing up with us! Please click the button below to confirm your email address:
</p>
<div style="text-align: center; margin-top: 20px">
  <a
          href="<%= url %>"
          style="
          background-color: #007bff;
          color: #ffffff;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 5px;
        "
  >Confirm Email</a
  >
</div>
<p style="color: #333333; margin-top: 20px">
  If you didn't sign up for an account with us, you can ignore this email.
</p>
<p style="color: #333333; margin-top: 20px">Regards,</p>
<p style="color: #333333">CozyTrip</p>
</body>
</html>
